<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> <%- title %></title>
  <!-- hiding the Browser’s User Interface -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <!-- iOS 6 -->
  <meta name="apple-mobile-web-app-title" content="">
  <!-- meta start -->
  <meta name="title" content="<%- title %>" />
  <meta name="description" content="從離岸風電到地面型太陽能，環台光電積極參與並協助推動台灣能源改革政策，深信綠能建設對環境永續發展的重要性。希望投入一己之力，成為再生能源推廣動能，並延續55年來對品質的堅持。" />
  <meta name="keywords" content="環台光電，環台，光電" />
  <meta name="copyright" content="" />
  <link rel="image_src" href="" />
  <link rel="icon" type="image/png" href="favicon.png" />
  <!-- OG -->
  <meta property="og:title" content="<%- title %>" />
  <meta property="og:site_name" content="<%- title %>" />
  <meta property="og:description" content="從離岸風電到地面型太陽能，環台光電積極參與並協助推動台灣能源改革政策，深信綠能建設對環境永續發展的重要性。希望投入一己之力，成為再生能源推廣動能，並延續55年來對品質的堅持。" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="" />
  <meta property="fb:app_id" content="" />
  <!-- CSS -->
  <!-- build:css css/lib.css -->
  <!-- endbuild -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

  <link rel="stylesheet" href="css/all.css">

</head>

<body>
  <!-- sider -->
  <% include conponents/sider %>
  <!-- sider END-->

  <!-- navbar -->
  <% include conponents/header %>
  <!-- navbar END -->

  <div id='mainContainer'>
    <!-- contents -->
    <%- contents %>
    <!-- contents END -->
  </div>

  <!-- footer -->
  <% include conponents/footer %>
  <!-- footer END -->


  <!-- build:js js/lib.js -->
  <script type="text/javascript" src="js/lib/jquery.min.js"></script>
  <script type="text/javascript" src="js/lib/fastclick.js"></script>
  <script type="text/javascript" src="js/lib/swiper.min.js"></script>
  <script type="text/javascript" src="js/lib/TweenMax.min.js"></script>
  <script type="text/javascript" src="js/lib/TimelineMax.min.js"></script>
  <script type="text/javascript" src="js/lib/in-view.min.js"></script>
  <!-- endbuild -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

  <!-- js -->
  <script src="js/all.js"></script>
  <!-- js END-->
</body>

</html>